@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
  margin: none;
  padding: none;
  box-sizing: border-box;
  text-decoration: none;
}

.open-sans-uniquifier {
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

body {
  height: 100vh;
  background: rgb(37, 36, 36);
  overflow: hidden;
}

main {
  margin-top: 250px;
}
main button {
  transition: 0.3s ease;
  margin: 0 25px;
  height: 100px;
  width: 100px;
  border: none;
  border-radius: 50px;
  font-size: 1.4rem;
  font-weight: 800;
}
main p {
  font-size: 5.5rem;
  font-weight: 700;
  color: white;
}
main i {
  margin: 0 10px;
}
main,
div {
  display: flex;
  justify-content: center;
  align-items: center;
}

div button {
  transition: 0.3s ease;
  height: 100px;
  width: 200px;
  border: none;
  border-radius: 50px;
  font-weight: 700;
  font-size: 1.4rem;
  cursor: pointer;
  background: linear-gradient(to top left, rgb(0, 225, 255), rgb(147, 242, 255));
}
div button:hover {
  background: linear-gradient(to top left, rgb(39, 230, 255), rgb(187, 247, 255));
}
div button:focus {
  background: linear-gradient(to top left, rgb(0, 225, 255), rgb(91, 203, 255));
}
div button:focus:active {
  background: linear-gradient(to top left, rgb(0, 225, 255, 0.9), rgb(91, 203, 255, 0.9));
}

.incremental-btn-styles {
  background: rgb(97, 255, 97);
  color: rgb(0, 0, 0);
  cursor: pointer;
}
.incremental-btn-styles:hover {
  background: rgb(132, 255, 132);
  transition: 0.3s ease-in-out;
}
.incremental-btn-styles:focus {
  background: rgb(64, 255, 64);
  color: white;
  transition: 0.3s ease-in-out;
}
.incremental-btn-styles:focus:active {
  background: rgb(64, 255, 64, 0.8);
  transition: 0.3s ease-in-out;
}
.decremental-btn-styles {
  background: rgb(255, 94, 94);
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.decremental-btn-styles:hover {
  background: rgb(255, 132, 132);
  transition: 0.3s ease-in-out;
}
.decremental-btn-styles:focus {
  background: rgb(255, 64, 64);
  color: white;
  transition: 0.3s ease-in-out;
}
.decremental-btn-styles:focus:active {
  background: rgb(255, 64, 64, 0.8);
  transition: 0.3s ease-in-out;
}

.below-zero {
  color: rgb(255, 94, 94, 0.8);
  transition: 0.3s ease;
}
.above-zero {
  color: rgb(97, 255, 97, 0.6);
  transition: 0.3s ease;
}
.at-zero {
  color: white;
  transition: 0.3s ease;
}

@media (max-width: 1282px) {
  main button {
    margin: 0 15px;
    height: 80px;
    width: 80px;
  }
  div button {
    height: 90px;
    width: 190px;
    border: none;

    font-weight: 700;
    font-size: 1.2rem;
  }

  main p {
    font-size: 5rem;
  }
}
@media (max-width: 1128px) {
  main button {
    margin: 0 15px;
    height: 60px;
    width: 60px;
    font-size: 1.2rem;
    font-weight: 800;
  }
  div button {
    width: 170px;
    height: 70px;
    border: none;
    font-weight: 700;
  }
}
@media (max-width: 802px) {
  main button {
    margin: 0 10px;
    height: 40px;
    width: 40px;
    font-size: 1.2rem;
    font-weight: 800;
  }
  div button {
    height: 60px;
    width: 160px;
    border: none;
    font-weight: 700;
  }
}
@media (max-width: 548px) {
  main button {
    margin: 0 10px;
    height: 30px;
    width: 30px;
    font-size: 1rem;
    font-weight: 800;
  }
  div button {
    height: 40px;
    width: 120px;
    font-weight: 700;
    font-size: 1rem;
  }
  main p {
    font-size: 3rem;
  }
}
@media (max-width: 466px) {
  main button {
    margin: 0 5px;
    height: 20px;
    width: 20px;
    font-size: 0.6rem;
    font-weight: 600;
  }
  div button {
    height: 40px;
    width: 100px;
    font-weight: 500;
    font-size: 0.8rem;
  }
  main p {
    font-size: 2.5rem;
  }
}
